*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  font-size: 10px; }

body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: normal;
  font-style: normal; }

img {
  max-width: 100%;
  transition: all 0.3s ease-out 0s; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.fix {
  overflow: hidden; }

a,
.button,
button {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

a:focus,
.button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  color: #AECE61;
  text-decoration: none; }

a {
  color: #000;
  outline: medium none; }

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sanchez', serif;
  font-weight: normal;
  color: #313131;
  margin-top: 0;
  font-style: normal;
  font-weight: 400; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 4rem;
  font-weight: 500; }

h2 {
  font-size: 3.5rem; }

h3 {
  font-size: 2.8rem; }

h4 {
  font-size: 2.2rem; }

h5 {
  font-size: 1.8rem; }

h6 {
  font-size: 1.6rem; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

p {
  font-weight: normal;
  line-height: 2.4rem;
  color: #333;
  margin-bottom: 1.5rem; }

hr {
  border-bottom: 1px solid #eceff8;
  border-top: 0 none;
  margin: 3rem 0;
  padding: 0; }

label {
  color: #333;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400; }

section {
  padding-top: 8rem; }

*::-moz-selection {
  background: #d6b161;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #444;
  color: #fff;
  text-shadow: none; }

.fz-very-small {
  font-size: 0.8rem; }

.fz-extra-small {
  font-size: 1.2rem !important; }

.fz-small {
  font-size: 1.4rem !important; }

.fz-normal {
  font-size: 1.6rem !important; }

.fz-large {
  font-size: 2rem !important; }

.fz-extra-large {
  font-size: 2.4rem !important; }

.text-black {
  color: #000 !important; }

.text-theme {
  color: #183E64 !important; }

.text-green {
  color: #AECE61 !important; }

.hover-text-black:hover {
  color: #000 !important; }

.hover-text-dark:hover {
  color: #343a40 !important; }

.hover-text-white:hover {
  color: #fff !important; }

.hover-text-theme:hover {
  color: #183E64 !important; }

.bg-black {
  background-color: #000 !important; }

.bg-theme {
  background-color: #183E64 !important; }

.bg-green {
  background-color: #AECE61 !important; }

.bg-theme-dark {
  background-color: #092746; }

.hover-bg-dark:hover {
  background-color: #343a40 !important; }

.hover-bg-black:hover {
  background-color: #000 !important; }

.hover-bg-white:hover {
  background-color: #fff !important; }

.hover-bg-theme:hover {
  background-color: #183E64 !important; }

.border-theme {
  border-color: #183E64 !important; }

.border-sky-blue {
  border-color: #227DC7 !important; }

.border-green {
  border-color: #AECE61 !important; }

.font-sanchez {
  font-family: 'Sanchez', serif !important; }

.add {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.3); }

.arrows {
  z-index: 1;
  border-radius: 50%;
  color: #183E64;
  font-size: 7rem;
  cursor: pointer;
  z-index: 1; }
  .arrows.prev {
    float: left; }
  .arrows.next {
    float: right; }

ul.main-ul {
  width: 100%;
  max-width: 70rem; }
  ul.main-ul li {
    display: block;
    padding: 1rem 0; }
    ul.main-ul li a {
      float: left;
      transition: .3s; }
      ul.main-ul li a:hover {
        transform: translateX(1rem);
        color: #183E64 !important; }
    ul.main-ul li i {
      float: right;
      cursor: pointer;
      font-size: 2rem; }
    ul.main-ul li ul {
      padding: 1rem 2rem;
      clear: both;
      display: none; }

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(24, 62, 100, 0.98);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center; }
  .preloader-inner {
    height: 5rem;
    width: 5rem;
    border: 3px solid #AECE61;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: preloader 1s linear infinite; }

@keyframes preloader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.section-name h2 .text-theme {
  border-bottom: 4px solid #AECE61; }

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 4;
  display: none; }

.tab-pane a {
  color: #fff; }
  .tab-pane a:hover {
    background-color: #2764a2 !important; }
  .tab-pane a.active {
    background-color: #AECE61 !important; }

.tab-container {
  position: relative; }
  .tab-container .tab-content {
    display: none; }
    .tab-container .tab-content:first-child {
      display: block; }

.navigation-with-dropdown li i {
  cursor: pointer; }

.navigation-with-dropdown li ul {
  display: none;
  background-color: #f7f7f7; }
  .navigation-with-dropdown li ul li {
    background-color: transparent; }
    .navigation-with-dropdown li ul li ul {
      background-color: #f0f0f0; }

footer {
  background-color: #092746; }
  footer * {
    color: #d9d9d9; }
  footer .social-links a {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    transition: .3s; }
    footer .social-links a:hover {
      background-color: #AECE61;
      border-color: #AECE61; }
      footer .social-links a:hover i {
        color: #092746; }

.button {
  font-family: 'Sanchez', serif;
  display: inline-block;
  border: none; }
  .button-type-1 {
    background-color: #AECE61;
    color: #fff !important;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 2;
    text-align: center; }
    .button-type-1::after {
      content: '';
      position: absolute;
      top: 0;
      left: -1px;
      bottom: 0;
      width: 0;
      background-color: #183E64;
      z-index: -1;
      transition: .2s; }
    .button-type-1:hover::after {
      width: 102%; }
  .button-type-2 {
    font-size: 1rem;
    color: #fff !important;
    background-color: #183E64;
    padding: 3px 1.2rem; }
    .button-type-2:hover {
      background-color: #0e253b; }
  .button-type-3 {
    padding: 3px 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000; }
    .button-type-3:hover {
      background-color: rgba(0, 0, 0, 0.1); }
  .button-type-4 {
    padding: 3px 1rem;
    background-color: #fff;
    color: #000;
    position: relative;
    z-index: 2;
    border: 1px solid #183E64; }
    .button-type-4::after {
      content: '';
      position: absolute;
      top: -1px;
      left: -1px;
      bottom: -1px;
      width: 0;
      z-index: -1;
      background-color: #183E64;
      transition: .2s; }
    .button-type-4:hover {
      color: #fff; }
    .button-type-4:hover::after {
      width: calc(100% + 2px); }
  .button:focus {
    outline: none; }

.banner {
  position: relative; }
  .banner .slider-type-1 .slide-item .banner-content {
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .banner .slider-type-1 .slide-item .banner-content h2 {
      font-size: 60px; }
  .banner .slider-type-1 .slick-list .slick-track .slick-slide:not(.slick-cloned):nth-child(2) .slide-item {
    background-image: url("../img/slide1.jpg"); }
  .banner .slider-type-1 .slick-list .slick-track .slick-slide:not(.slick-cloned):nth-child(3) .slide-item {
    background-image: url("../img/slide2.jpg"); }
  .banner .slider-type-1 .slick-list .slick-track .slick-slide:not(.slick-cloned):nth-child(4) .slide-item {
    background-image: url("../img/slide3.jpg"); }
  .banner .slider-dots {
    position: absolute;
    bottom: 2rem; }
    .banner .slider-dots ul {
      position: unset;
      text-align: center; }
      .banner .slider-dots ul li {
        display: inline-block;
        margin: 0 3rem; }
        .banner .slider-dots ul li button {
          width: 3rem;
          height: 5px;
          border-radius: 20px;
          padding: 0 !important;
          background-color: #fff; }
        .banner .slider-dots ul li.slick-active button {
          background-color: #AECE61; }
    .banner .slider-dots::after {
      content: '';
      display: block;
      clear: both; }

nav {
  padding: 1rem 0 !important;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  transition: .3s; }
  nav .open-navigation {
    cursor: pointer;
    padding: 2.5rem; }
  nav ul li a.active, nav ul li a:hover {
    color: #AECE61 !important; }
  nav .mobile-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    bottom: 0;
    overflow-x: hidden;
    background-color: #092746;
    z-index: 3;
    padding-top: 50px;
    transition: .3s; }
    nav .mobile-navigation .close-navigation {
      position: absolute;
      top: 2rem;
      right: 2rem; }
  nav.sticky {
    padding: 0 !important;
    background-color: #092746; }
    nav.sticky * {
      color: #d9d9d9; }

.tutor {
  overflow: hidden;
  background-color: #F6F8FA;
  height: calc(100% - 8rem);
  position: relative; }
  .tutor .fee {
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 10rem;
    height: 10rem;
    clip-path: polygon(0 0, 10rem 0, 0 10rem);
    background-color: #AECE61;
    padding: 1rem;
    color: #fff; }
  .tutor-name {
    padding: 3rem 0;
    transition: .3s;
    background-color: #F6F8FA; }
  .tutor::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5px;
    height: 0;
    background-color: #AECE61;
    transition: .7s;
    z-index: 2; }
  .tutor::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 5px;
    background-color: #AECE61;
    transition: .7s;
    z-index: 2; }
  .tutor:hover .tutor-name {
    transform: translateY(-8rem); }
  .tutor:hover::after {
    height: 100%; }
  .tutor:hover::before {
    width: 100%; }

.tution-job {
  position: relative; }

.slider-type-2-arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100% !important;
  z-index: 1; }

.slider-type-2 .slide {
  padding: 0 .5rem; }

.all-counters {
  background-color: #183E64;
  padding: 3rem 2rem;
  border-radius: 30px; }
  .all-counters * {
    color: #fff; }

.registration header nav {
  background-color: #183E64; }

.registration main section {
  box-shadow: 4px 4px 1rem rgba(0, 0, 0, 0.4); }

.registration .box-container .icon {
  margin-bottom: 1rem;
  height: 4rem;
  width: 4rem;
  background: #fff;
  border-radius: 50%; }

.registration form.registration_form img {
  width: 100%;
  max-width: 18rem;
  cursor: pointer; }

.registration form.registration_form #select-gander {
  position: relative;
  z-index: 1; }

.registration form.registration_form .gander-inputs {
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-5rem);
  transition: .3s; }
  .registration form.registration_form .gander-inputs.visible {
    opacity: 1;
    visibility: visible;
    transform: translate(0); }

.login form.login_form {
  width: 100%;
  max-width: 40rem;
  margin: auto; }

.clip-arrow {
  background: #092746; }

.select2 {
  width: 100% !important;
  margin: .5rem 0; }
  .select2 * {
    font-size: 1.6rem; }

.select2-dropdown {
  font-size: 1.6rem; }

.contact-popup {
  width: 100%;
  max-width: 50rem;
  background: #fff;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: none; }
  .contact-popup .close-contact-popup-icon {
    cursor: pointer; }

.user-dashboard {
  background-color: #EFF4F8; }
  .user-dashboard .notification {
    background-color: #fff; }

.dashboard-container .row > div:nth-child(1) .box {
  background-color: #4D9CDF; }

.dashboard-container .row > div:nth-child(2) .box {
  background-color: #9139DB; }

.dashboard-container .row > div:nth-child(3) .box {
  background-color: #DDDF4D; }

.dashboard-container .row > div:nth-child(4) .box {
  background-color: #DB6739; }

.dashboard-container .row > div:nth-child(5) .box {
  background-color: #C2DB39; }

.dashboard-container .row > div:nth-child(6) .box {
  background-color: #DB9839; }

.dashboard-container .row > div:nth-child(7) .box {
  background-color: #555555; }

.dashboard-container .row > div:nth-child(8) .box {
  background-color: #DB39BB; }

.dashboard-container .dashboard-item {
  position: relative; }
  .dashboard-container .dashboard-item .title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(217, 217, 217, 0.8);
    padding: 5px 1rem;
    margin: 0; }
  .dashboard-container .dashboard-item .box {
    height: calc(15rem + 4rem);
    padding-top: 4rem;
    display: flex;
    align-items: center; }
    .dashboard-container .dashboard-item .box span {
      font-size: 6rem;
      color: #fff; }
      .dashboard-container .dashboard-item .box span:nth-child(2) {
        align-self: flex-end; }

.dashboard-container .btn-group a {
  box-shadow: none !important; }

.personal-informations table tbody {
  width: 100%; }

.personal-informations table td {
  font-size: 1.6rem; }
  .personal-informations table td:first-child {
    width: 20rem; }

.educational-qualification td, .educational-qualification th {
  font-size: 1.6rem; }

.update-profile form .profile-img-upload {
  display: block; }

.update-profile .profile-img, .update-profile .image-upload {
  position: relative; }
  .update-profile .profile-img div, .update-profile .image-upload div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    opacity: 0;
    transition: .3s; }
    .update-profile .profile-img div i.plus-icon, .update-profile .image-upload div i.plus-icon {
      background-color: #fff;
      border-radius: 50%;
      height: 5rem;
      width: 5rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: center; }
  .update-profile .profile-img:hover > div, .update-profile .image-upload:hover > div {
    opacity: 1; }

.q-and-a-section a {
  color: #000 !important; }

.q-and-a-section .tab-container .tab-content > a {
  padding: 1rem 2rem;
  background-color: #AECE61;
  display: block;
  margin-bottom: 2px; }
  .q-and-a-section .tab-container .tab-content > a:hover, .q-and-a-section .tab-container .tab-content > a:focus {
    text-decoration: underline; }
  .q-and-a-section .tab-container .tab-content > a:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
  .q-and-a-section .tab-container .tab-content > a:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }

.q-and-a-section .tab-container .tab-content > p {
  display: none;
  padding: 1rem 2rem; }

@media (max-width: 767.98px) {
  .slider-type-2-arrows .arrows.prev {
    margin-left: -2rem; }
  .slider-type-2-arrows .arrows.next {
    margin-right: -2rem; }
  .banner-content h2 {
    font-size: 5rem !important; }
  .banner-content a.button {
    padding: .8rem 2rem;
    font-size: 1.2rem !important; } }

@media (max-width: 577.98px) {
  .banner-content h2 {
    font-size: 4rem !important; } }

@media (max-width: 432px) {
  .banner-content {
    align-items: unset !important; } }

@media (min-width: 768px) {
  .all-counter img {
    margin-top: -4rem; } }

@media (min-width: 992px) {
  .clip-arrow {
    clip-path: polygon(0 0, 93% 0, 93% 35%, 100% 50%, 93% 65%, 93% 100%, 0 100%); }
  .container {
    max-width: 1000px; } }

@media (min-width: 1200px) {
  .all-counters img {
    position: relative;
    transform: translateY(-20%); }
  .container {
    max-width: 1170px; } }
