.clip-arrow{
	background: $color-theme-dark;
}

.select2 {
	width: 100% !important;
	margin: .5rem 0;

	& * {
		font-size: 1.6rem;
	}

}
.select2-dropdown {
	font-size: 1.6rem;
}

.contact-popup {
	width: 100%;
	max-width: 50rem;
	background: $color-white;
	border-radius: 5px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
	display: none;

	.close-contact-popup-icon{
		cursor: pointer;
	} 
}