
// font sizes ------------------------------------
.fz-very-small{ font-size: 0.8rem; }
.fz-extra-small{ font-size: 1.2rem !important; }
.fz-small{ font-size: 1.4rem !important; }
.fz-normal{ font-size: 1.6rem !important; }
.fz-large{ font-size: 2rem !important; }
.fz-extra-large{ font-size: 2.4rem !important; }

// colors ------------------------------------
.text-black{ color: $color-black !important; }
.text-theme{ color: $color-theme !important; }
.text-green{ color: $color-green !important; }

// text color on hover ----------------------------
.hover-text-black:hover{ color: $color-black !important; }
.hover-text-dark:hover{ color: $color-dark !important; }
.hover-text-white:hover{ color: $color-white !important; }
.hover-text-theme:hover{ color: $color-theme !important; }

// background color ---------------------------
.bg-black{ background-color: $color-black !important; }
.bg-theme{ background-color: $color-theme !important; }
.bg-green{ background-color: $color-green !important; }
.bg-theme-dark{ background-color: $color-theme-dark; }

// background color on hover --------------------------
.hover-bg-dark:hover{ background-color: $color-dark !important; }
.hover-bg-black:hover{ background-color: $color-black !important; }
.hover-bg-white:hover{ background-color: $color-white !important; }
.hover-bg-theme:hover{ background-color: $color-theme !important; }

// border-color -----------------------------
.border-theme{ border-color: $color-theme !important; }
.border-sky-blue{ border-color: $color-sky-blue !important; }
.border-green{ border-color: $color-green !important; }

// font-family -----------------------------
.font-sanchez{ font-family: 'Sanchez', serif !important; }

