
// colors ------------------
$color-white: #fff;
$color-black: #000;
$color-dark: #343a40;
$text-black: #333;

// color based on theme-----------------
$color-theme: #183E64;
$color-theme-dark: #092746;

$color-green: #AECE61;
$color-sky-blue: #227DC7;