.button {
	font-family: 'Sanchez', serif;
	display: inline-block;
	border: none;

	&-type-1 {
		background-color: $color-green;
		color: $color-white !important;
		padding: 1.5rem 3rem;
		position: relative;
		z-index: 2;
		text-align: center;

		&::after{
			content: '';
			position: absolute;
			top: 0;
			left: -1px;
			bottom: 0;
			width: 0;
			background-color: $color-theme;
			z-index: -1;
			transition: .2s;
		}

		&:hover::after{
			width: 102%;
		}
	}

	&-type-2{
		font-size: 1rem;
		color: $color-white !important;
		background-color: $color-theme;
		padding: 3px 1.2rem;

		&:hover{
			background-color: darken($color-theme, 10);
		}
	}

	&-type-3 {
		padding: 3px 6px;
		border: 1px solid rgba($color-black, .1);
		color: $color-black;

		&:hover {
			background-color: rgba($color-black, .1);
		}
	}

	&-type-4 {
		padding: 3px 1rem;
		background-color: $color-white;
		color: $color-black;
		position: relative;
		z-index: 2;
		border: 1px solid $color-theme;

		&::after{
			content: '';
			position: absolute;
			top: -1px;
			left: -1px;
			bottom: -1px;
			width: 0;
			z-index: -1;
			background-color: $color-theme;
			transition: .2s;
		}

		&:hover {
			color: $color-white;
		}

		&:hover::after{
			width: calc(100% + 2px);
		}
	}

	&-link {

	}

	&:focus {
		outline: none;
	}
}